body {
    background-color: rgb(248, 252, 255);
    font-family: 'Lucida Console', monospace;
    padding: 12px;
}

.home-link {
    color:rgb(0, 0, 0);
    text-decoration: none;
    background-color: aqua;
    padding: 6px 12px;
}

.card {
    background-color: rgb(255, 235, 254);
    margin: 12px auto;
    padding: 8px 24px;
    max-width: 400px;
    font-size: 12px;
}

.title {
    text-align: center;
}

.dish-pic {
    display: block;
    max-width:fit-content;
    height:auto;
    width: 400px;
}

.description {
    background-color: azure;
    padding: 12px 24px;
}

.ingredient-list {
    background-color: azure;
    padding: 12px 32px;
}

.step-list {
    background-color: azure;
    padding: 12px 32px;
}